.hall-page {
    width: 412px;
    height: 917px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/public/images/hall-bg.jpg'); 
    padding: 20px;
}

.hall-title {
    position: absolute;
    width: 145px;
    height: 84px;
    left: 50%;
    transform: translateX(-50%);
    top: 96px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;


}

.hall-info-block .hall-time {
  margin-top: 16px;
  font-family: 'Dotf1';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.hall-elements-container {
    position: absolute;
    width: 382px;
    height: 377px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - 377px/2 - 42px);
    background: url(/public/images/planet-space-bg.png);
    border-radius: 15px;

}

.hall-element {
    width: 79px;
    height: 79px;
    position: absolute;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: 149px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.mars {
    background-image: url('/public/images/view-mars.png');
}

.venus {
    background-image: url('/public/images/view-venus.png');
}

.moon {
    background-image: url('/public/images/view-moon.png');
}

.hall-element-active {
    width: 175px;
    height: 175px;
    left: 50%;
    transform: translateX(-50%);
    top: 101px;
    filter: drop-shadow(0px 6px 20px rgba(253, 253, 253, 0.7));
    z-index: 0;
}


.hall-element-side.left {
  left: 15%;
  transform: translateX(-50%);
}

.hall-element-side.right {
  left: 85%;
  transform: translateX(-50%);
}

.hall-info {
    position: absolute;
    width: 281px;
    height: 175px;
    left: calc(50% - 281px/2 + 0.5px);
    top: 635px;

    filter: drop-shadow(0px 0px 10px #FFFFFF);
    padding: 20px 0;
    background: #10553D;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
}

.hall-text {
    margin-bottom: 13px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}


.hall-text-large {
    margin-bottom: 0;
    font-size: 32px;
}


/* HallNft */

.nft-page {
    width: 412px;
    height: 917px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/public/images/hall-room.jpg'); 
    padding: 20px;
}

.nft-container {
    padding: 32px 24px;

    position: absolute;
    width: 364px;
    height: 688px;
    left: calc(50% - 364px/2);
    top: calc(50% - 688px/2 + 0.5px);

    border-radius: 15px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;

}

.nft-container::after {
    content: '';
    position: absolute;
    width: 231px;
    height: 45px;
    left: calc(50% - 231px/2 + 0.5px);
    top: calc(50% - 45px/2 - 344px);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.mars-nft {
    background: #8F0000;
    border: 1px solid #FF0000;
    box-shadow: 0px 0px 10px #FF0000;
}

.mars-nft::after {
    background-image: url('/public/images/nft-mars-wings.png'); 
}

.moon-nft {
    background: #003651;
    border: 1px solid #4D909B;
    box-shadow: 0px 0px 10px #4D909B;
}

.moon-nft::after {
    background-image: url('/public/images/nft-moon-wings.png'); 
}


.venus-nft {
    background: #C46900;
    border: 1px solid #FF8437;
    box-shadow: 0px 0px 10px #FF8437;
}

.venus-nft::after {
    background-image: url('/public/images/nft-venus-wings.png'); 
}


.nft-container h2 {
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.mars-nft h2 {    
    text-shadow:  -2px -2px 0 #690000,  0 -2px 0 #690000,  2px -2px 0 #690000,  -2px 0 0 #690000, 2px 0 0 #690000, -2px 2px 0 #690000, 0 2px 0 #690000, 2px 2px 0 #690000;
}

.moon-nft h2 {    
    text-shadow:  -2px -2px 0 #033046,  0 -2px 0 #033046,  2px -2px 0 #033046,  -2px 0 0 #033046, 2px 0 0 #033046, -2px 2px 0 #033046, 0 2px 0 #033046, 2px 2px 0 #033046;
}

.venus-nft h2 {    
    text-shadow:  -2px -2px 0 #9E5500,  0 -2px 0 #9E5500,  2px -2px 0 #9E5500,  -2px 0 0 #9E5500, 2px 0 0 #9E5500, -2px 2px 0 #9E5500, 0 2px 0 #9E5500, 2px 2px 0 #9E5500;
}

.nft-image {
    margin-bottom: 20px;
}

.nft-image img {
    width: 316px;
    height: 316px;
}

.nft-details h3 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

}

.nft-specs {
    margin: 0 0 20px;
}

.nft-specs p {
    margin: 0;
    font-size: 20px;
    line-height: 23px;
}

.nft-specs .value {
    font-weight: 700;
}

.buy-button {
padding: 16px 48px;

width: 126px;
height: 55px;

border: 1px solid #FFFFFF;
border-radius: 15px;

color: #fff;
font-family: 'Roboto Condensed';
font-weight: 700;
font-size: 20px;

}

.mars-nft .buy-button {
    background: #690000;
}

.moon-nft .buy-button {
    background: #062C3F;
}

.venus-nft .buy-button {
    background: #9C5402;
}

.already-purchased {
    width: 190px;
    height: 96px;
    padding-top: 65px;
    position: absolute;
    right: 12px;
    bottom: 26px;
    transform: rotate(-15deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.already-purchased p {
    margin: 0;
}

.mars-nft .already-purchased {
    background-image: url('/public/images/approved-mars.png'); 
}

.moon-nft .already-purchased {
    background-image: url('/public/images/approved-moon.png'); 
}

.venus-nft .already-purchased {
    background-image: url('/public/images/approved-venus.png'); 
}