.hall-page {
    width: 412px;
    height: 917px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/public/images/hall-room.jpg'); 
    padding: 20px;
}

.nft-card {
position: absolute;
width: 174px;
height: 230px;
left: calc(50% - 174px/2);
top: 210px;

display: flex;
flex-direction: column;
align-items: center;
padding: 16px 31px;

border-radius: 25px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #fff;

}


.nft-card img {
    width: 90px;
    height: 90px;
    margin: 0 0 8px;
}

.nft-card p {
  margin: 0 0 8px;
}

.nft-mars {
    background: #8F0000;
    border: 2px solid #FF0000;
    box-shadow: 0px 0px 10px 1px #FF0000;
}

.nft-venus {
    background: #C46900;
    border: 2px solid #FF8437;
    box-shadow: 0px 0px 10px 1px #FF8437;
}

.nft-moon {
    background: #003651;
    border: 2px solid #4D909B;
    box-shadow: 0px 0px 10px 1px #4D909B;
}

.hall-info-block .hall-time {
  margin-top: 16px;
  font-family: 'Dotf1';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

/* Контейнер для элементов - используем Grid */
/* Упрощенная версия с Flexbox */
.hall-elements-container {
    height: 270px;
    width: 100%;
    max-width: 900px;
    position: absolute;
    bottom: 177px;
    left: 50%;
    transform: translateX(-50%);
}

.hall-element {
    width: 79px;
    height: 79px;
    position: absolute;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    bottom: 96px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.mars {
    background-image: url('/public/images/view-mars.png');
}

.venus {
    background-image: url('/public/images/view-venus.png');
}

.moon {
    background-image: url('/public/images/view-moon.png');
}

.hall-element-active {
    width: 175px;
    height: 175px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 48px;
    filter: drop-shadow(0px 6px 20px rgba(253, 253, 253, 0.7));
    z-index: 0;
}

.hall-element-active::after {
    content: "";
    position: absolute;
    left: calc(50% - 271px/2);
    top: calc(50% - 271px/2);
    width: 271px;
    height: 271px;
    border-radius: 50%;
    animation: delayedFadeIn 1s ease-in-out;
}

@keyframes delayedFadeIn {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.mars.hall-element-active::after {
    border: 1px solid #8F0000;
    box-shadow: 0px 0px 20px 1px #FF0000;
}


.venus.hall-element-active::after {
border: 1px solid #C46900;
box-shadow: 0px 0px 20px 1px #FF8437;
}

.moon.hall-element-active::after {
    border: 1px solid #003651;
    box-shadow: 0px 0px 20px 1px #4D909B;
}

.hall-element-side.left {
  left: 15%;
  transform: translateX(-50%);
}

.hall-element-side.right {
  left: 85%;
  transform: translateX(-50%);
}


/* HallNft */

.nft-page {
    width: 412px;
    height: 917px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/public/images/hall-room.jpg'); 
    padding: 20px;
}

.nft-container {
    padding: 32px 24px;

    position: absolute;
    width: 364px;
    height: 688px;
    left: calc(50% - 364px/2);
    top: calc(50% - 688px/2 + 0.5px);

    border-radius: 15px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;

}

.mars-nft {
    background: #8F0000;
    border: 1px solid #FF0000;
    box-shadow: 0px 0px 10px #FF0000;
}

.moon-nft {
    background: #003651;
    border: 1px solid #4D909B;
    box-shadow: 0px 0px 10px #4D909B;
}

.venus-nft {
    background: #C46900;
    border: 1px solid #FF8437;
    box-shadow: 0px 0px 10px #FF8437;
}

.nft-container h2 {
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.mars-nft h2 {    
    text-shadow:  -2px -2px 0 #690000,  0 -2px 0 #690000,  2px -2px 0 #690000,  -2px 0 0 #690000, 2px 0 0 #690000, -2px 2px 0 #690000, 0 2px 0 #690000, 2px 2px 0 #690000;
}

.moon-nft h2 {    
    text-shadow:  -2px -2px 0 #033046,  0 -2px 0 #033046,  2px -2px 0 #033046,  -2px 0 0 #033046, 2px 0 0 #033046, -2px 2px 0 #033046, 0 2px 0 #033046, 2px 2px 0 #033046;
}

.venus-nft h2 {    
    text-shadow:  -2px -2px 0 #9E5500,  0 -2px 0 #9E5500,  2px -2px 0 #9E5500,  -2px 0 0 #9E5500, 2px 0 0 #9E5500, -2px 2px 0 #9E5500, 0 2px 0 #9E5500, 2px 2px 0 #9E5500;
}

.nft-image {
    margin-bottom: 20px;
}

.nft-image img {
    width: 316px;
    height: 316px;
}

.nft-details h3 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

}

.nft-specs {
    margin: 0 0 20px;
}

.nft-specs p {
    margin: 0;
    font-size: 20px;
    line-height: 23px;
}

.nft-specs .value {
    font-weight: 700;
}

.buy-button {
padding: 16px 48px;

width: 126px;
height: 55px;

border: 1px solid #FFFFFF;
border-radius: 15px;

color: #fff;
font-family: 'Roboto Condensed';
font-weight: 700;
font-size: 20px;

}

.mars-nft .buy-button {
    background: #690000;
}

.moon-nft .buy-button {
    background: #062C3F;
}

.venus-nft .buy-button {
    background: #9C5402;
}